<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('') ">
</head>
<body>

<div class="album py-5" th:fragment="albums">
    <div class="container">

        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 g-3">
            <!--// * 은 숫자입력 (열 개수)
            col-xs-* : extrasmall (for smartphone)
            col-sm-* : small (for tablet) 768px 이하에서 동작
            col-md-* : medium (for laptops) 992px 이하에서 동작
            col-lg-* : large (for laptops/desktops) 1200px 이하에서 동작
            *//-->
            
            <th:block th:each="num : ${#numbers.sequence(1,10)}">
            <!--/* 컬렉션 없이 단순 반복문처리 : ${#numbers.sequence(from,to,step)} */-->
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </th:block>

        </div>
    </div>
</div>


</body>
</html>